{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<h2 class="text-center" style="margin: 40px">Chat App</h2>

{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}


<div class="row">

    <div class="col-sm-4"></div>
    <div class="col-md-4">

        {{ form_start(registrationForm) }}

        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        <div class="col">
            {{ form_row(registrationForm.email, {help: 'someone@example.com', label: 'Email'}) }}
        </div>

        <div class="col">
            {{ form_row(registrationForm.plainPassword.first , {label: 'Password'}) }}
        </div>

        <div class="col">
            {{ form_row(registrationForm.plainPassword.second , {label: 'Repeat Password'}) }}
        </div>

        <div class="col">
            {{ form_row(registrationForm.username, {help: 'HEY, choose a cool name!', label: 'Username'}) }}
        </div>

        <div class="col">
            {{ form_row(registrationForm.agreeTerms, {label: 'Agree Terms'}) }}
        </div>


    <button id="register" class="btn btn-primary" type="submit">Register</button>
    <a id="login" href="{{ path('app_login') }}">Cancel</a>

    {{ form_end(registrationForm) }}

{% endblock %}