<!doctype html>
<html lang="en">

    <head>
        <title>{% block title %}Chat App{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('font-awesome.css') }}">
            <!-- <link rel="stylesheet" href="{# {{ asset('build/app.css') }} #}"> -->
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>

        {% block body %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
        {% endblock %}


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            <!-- <script src="{#  {{ asset('build/app.js') }} #}" type="text/javascript"></script> -->
            {{ encore_entry_script_tags('app') }}

            <!-- //The core Firebase JS SDK is always required and must be listed first -->
            <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
            <!-- //TODO: Add SDKs for Firebase products that you want to use -->
            <!-- //https://firebase.google.com/docs/web/setup#available-libraries -->
            <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-analytics.js"></script>

            <script>
                // Your web app's Firebase configuration
                // For Firebase JS SDK v7.20.0 and later, measurementId is optional
                const firebaseConfig = {
                    apiKey: "AIzaSyBV_DgH2jUAZoIHQCt4aTmUgpfBEw4UhJM",
                    authDomain: "chat-client-464de.firebaseapp.com",
                    databaseURL: "https://chat-client-464de.firebaseio.com",
                    projectId: "chat-client-464de",
                    storageBucket: "chat-client-464de.appspot.com",
                    messagingSenderId: "285225037584",
                    appId: "1:285225037584:web:f89021526bf5ff5cfd3f95",
                    measurementId: "G-JC8P02SP7Y"
                };
                // Initialize Firebase
                firebase.initializeApp(firebaseConfig);
                firebase.analytics();
                const database = firebase.database();
            </script>
        {% endblock %}
    </body>
    </br>
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">Made with <i class="fa fa-heart" style="color: black;"></i> by Shannon</span>
        </div>
    </footer>
</html>

