{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container card">
        <div class="card-header">
            <div>
                <div class="container">
                    <h3 class="text-center">Chat with {{ selectedUsername }}</h3>
                </div>
            </div>
        </div>
        <div id="message_box" class="card-body card card1" >
            {% for userMessage in messages %}

                    <!-- if the message sender is not the current logged in user (the user that the message is being sent to) then display the message bubble on the left -->
                    {% if userMessage.sent_by == selectedUsername %}
                        <div class="d-flex justify-content-start mb-4">
                            <div class="chat-bubble chat-bubble--left">
                                {% if userMessage.message starts with "https://" %}
                                    <a id="attachmentFile" target="_blank" href="{{ userMessage.message }}" download="{{ userMessage.message }}">
                                        {{ userMessage.message }}
                                    </a>
                                 {% else %}
                                    {{ userMessage.message }}
                                 {% endif %}

                                <!-- if message is unread, display "delivered". if read, then display "seen" -->
                                {% if userMessage.read == false %}
                                    <span class="text-muted msg_time">{{ userMessage.sent_at|date("H:i")}} Delivered</span>
                                {% elseif userMessage.read == true %}
                                    <span class="text-muted msg_time">{{ userMessage.sent_at|date("H:i")}} Seen</span>
                                {% endif %}

                            </div>
                        </div>

                    <!-- else display the messages bubble on the right -->
                    {% else %}
                        <div class="d-flex justify-content-end mb-4">
                            <div class="chat-bubble chat-bubble--right">

                                <!-- if message is a file url, display it as a link to that file, else just display the message text -->
                                {% if userMessage.message starts with "https://" %}
                                    <a id="attachmentFile" target="_blank" href="{{ userMessage.message }}" download="{{ userMessage.message }}">

                                        {{ userMessage.message }}
                                    </a>
                                 {% else %}
                                    {{ userMessage.message }}
                                {% endif %}

                                <!-- if message is unread, display "delivered". if read, then display "seen". also show the time the message was sent-->
                                {% if userMessage.read == false %}
                                    <span class="text-muted msg_time_send">{{ userMessage.sent_at|date("H:i")}} Delivered</span>
                                {% elseif userMessage.read == true %}
                                    <span class="text-muted msg_time_send">{{ userMessage.sent_at|date("H:i")}} Seen</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
        </div>

        <!--
            also change read to true when page reloads(?)
         -->
        <div class="card-footer">

            {{ form_start(userForm, {'method': 'POST', 'action': path('message_user', {'user': selectedUsername})}) }} {# selectedUsername is the $user in controller passed from homepage #}
                {{ form_row(userForm.messageInput, {'attr': {'placeholder': 'Enter message here...'}}) }}
                {{ form_row(userForm.attachment) }}
            <button class="btn btn-primary" type="submit" name="message">Send</button>
            {{ form_end(userForm) }}

        </div>
    </div>

    <br><div class="container">
        <h4 class="text-center">Files</h4>

        <div class="container">
            {% for file in files %}
                <div class="profile-box1 col-md-6 container-fluid border">
                    {{ file.name}}

                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
         $(document).ready(function() {

             // clears cache and reloads page every 5 secs
            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
             setInterval(function() {
                 window.location.reload(true);
             }, 5000);

             document.getElementById('user_form_attachment').style.opacity = '100'; //makes profile file upload elements visible

             //automatically scrolls to show most recent message in chat on refresh
             let objDiv = document.getElementById('message_box');
             objDiv.scrollTop = objDiv.scrollHeight;

         });
    </script>
{% endblock %}
