{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

<h3 class="text-center">Message {{ selectedUsername }}</h3>

    <br>
    <div class="text-center col-md-6 container">
        {% for userMessage in messages %}
                <div class="profile-box1 text-center border">
                    {% if userMessage is defined %}
                        <p>
                            {{ userMessage }}
                        </p>
                    {% endif %}
                </div>
        {% endfor %}
    </div><br>
    <div class="text-center col-md-6 container">
        <form method="post" action="{{ path('message_user', {'user': selectedUsername}) }}">
            <label>
                <input name="message_input" type="text">
            </label>
            <button class="btn btn-primary" type="submit" name="message">Send</button>
        </form>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#    <script>#}
{#    setTimeout(function(){#}
{#        window.location.reload(1);#}
{#    }, 5000);#}
{#    </script>#}
{% endblock %}